
$colors:(

    neutral:(
        100: 0 0% 100% ,
        200: 0 0% 90%,
        300: 0 0% 70%,
        400: 0 0% 60%,
        500: 0 0% 50%,
        600: 0 0% 40%,
        700: 0 0% 30%,
        800: 0 0% 10%,
        900: 0 0% 0%,
    
    ),
    primary:(
        100:214 63% 90%,
        200:214 63% 80%,
        300:214 63% 70%,
        400:214 63% 60%,
        500:214 63% 50%,
        600:214 63% 40%,
        700:214 63% 30%,
        800:214 63% 10%,
        900:214 63% 0%,

    ),

    secondary:(
        100:284 71% 90%,
        200:284 71% 80%,
        300:284 71% 70%,
        400:284 71% 60%,
        500:284 71% 50%,
        600:284 71% 40%,
        700:284 71% 30%,
        800:284 71% 10%,
        900:284 71% 0%
    ),
      accent:(
          100:346 99% 90%,
          200:346 50% 80%,
          300:346 50% 70%,
          400:346 99% 60%,
          500:346 50% 50%,
          600:346 50% 40%,
          700:346 50% 30%,
          800:346 50% 10%,
          900:346 50% 0%,
      ),

)
